<h1>Welcome to your account</h1>
<h3> Your listings: </h3>

<ul id='listings'>
  <% @listings.each do |listing| %>

    <li>
      <a href="/spaces/<%= listing.id %>">
       <%= listing.title %>
       <img style="width:300px" src="<%= listing.img %>">
     </a>

     <form action='/delete' method='post'>
        <input type='hidden' name ="_method" value="<%= listing.id %>">
        <input type = 'submit' value = 'Delete'/>
     </form>

       <% listing.requests.each do |lr| %>
        <%= lr.username %>

         <form action='/approve' method='post'>
            <input type='hidden' name ="_method" value="<%= lr.id %>">
            <input type = 'submit' value = 'Approve'/>
         </form>
         <% end %>
    </li>

  <% end %>
</ul>

<h3> Your requests: </h3>

<ul id='requests'>
  <% @requests.each do |request| %>

    <li>
      <a href="/spaces/<%= request.space.id %>">

       <%= request.space.title %>
           </a>
       <%= request.approved %>
    </li>
  <% end %>
</ul>
