
<h1><%= @space.title %></h1>
<p><span style="font-weight:900">Details: </span><%= @space.description %></p>
<p><span style="font-weight:900">Price: </span><%= @space.price %></p>
<p><span style="font-weight:900">Available from: </span><%= @space.date_from %></p>
<p><span style="font-weight:900">Available to: </span><%= @space.date_to %></p>

<a href="/request">Request booking</a>
<a href="/spaces">Back to spaces</a>
